﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h3 class="service-header-main">Slider Yönetimi</h3>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <a href="~/Admin/Slider/Index" class="info-tiles tiles-green">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-list"></i></div>
                        </div>
                        <div class="tiles-footer ana-tiles" style="height:48px;">
                            Listele
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <a href="~/Admin/Slider/Ekle" class="info-tiles tiles-brown">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-plus"></i></div>
                        </div>
                        <div class="tiles-footer ana-tiles" style="height:48px;">
                            Ekle
                        </div>
                    </a>
                </div>
            </div><!-- Slider Yönetimi-->

            <div class="row">
                <h3 class="service-header-main">Ürün Yönetimi</h3>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <a href="~/Admin/Urun/Index" class="info-tiles tiles-green">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-list"></i></div>
                        </div>
                        <div class="tiles-footer ana-tiles" style="height:48px;">
                            Listele
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <a href="~/Admin/Urun/Ekle" class="info-tiles tiles-brown">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-plus"></i></div>
                        </div>
                        <div class="tiles-footer ana-tiles" style="height:48px;">
                            Ekle
                        </div>
                    </a>
                </div>
            </div><!-- Ürün Yönetimi -->

            <div class="row">
                <h3 class="service-header-main">Rol Yönetimi</h3>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <a href="~/Admin/RolYonetim/Index" class="info-tiles tiles-green">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-list"></i></div>
                        </div>
                        <div class="tiles-footer ana-tiles" style="height:48px;">
                            Listele
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <a href="~/Admin/RolYonetim/RolEkle" class="info-tiles tiles-brown">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-plus"></i></div>
                        </div>
                        <div class="tiles-footer ana-tiles" style="height:48px;">
                            Rol Ekle
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <a href="~/Admin/RolYonetim/RolKullaniciEkle" class="info-tiles tiles-danger">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-plus"></i></div>
                        </div>
                        <div class="tiles-footer ana-tiles" style="height:48px;">
                            Role Kullanıcı Ekle
                        </div>
                    </a>
                </div>
            </div><!-- Slider Yönetimi-->

        </div>
    </div>
</div> <!-- container -->
@section jsplugins
{
    <script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/fullcalendar/fullcalendar.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-daterangepicker/daterangepicker.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-daterangepicker/moment.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.resize.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.orderBars.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/pulsate/jQuery.pulsate.min.js'></script>
}