﻿@model Odev.Areas.Admin.Models.SliderModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div id="page-heading">
    <ol class="breadcrumb">
        <li class="atv">Admin</li>
        <li class="atn">Slider</li>
        <li class="active">Slider Ekle</li>
    </ol>
    <h1>Yeni Slider Ekleme</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group hidden-xs">
               
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Slider Ekle</h4>
                </div>
                @using (Html.BeginForm("SlideraEkle", "Slider", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="panel-body">
                      
                        <br>
                        <div class="form-group">
                           
                            <div class="col-sm-6">
                                
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Başlangıç Tarihi", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.BaslangicTarihi, new { @class = "form-control datepicker", placeholder = "Başlangıç Tarihi" })
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">Slider ' ın gösterime başlayacağı tarihi giriniz</p>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Bitiş Tarihi", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.BitisTarihi, new { @class = "form-control datepicker", placeholder = "Bitiş Tarihi" })
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">Slider ' ın gösterimden kaldırılacağı tarihi giriniz</p>
                            </div>
                        </div>
                        <div class="form-group">
                           
                            @Html.Label("Slider Resmi", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Resim, new { @class = "form-control", placeholder = "Resim Yolu", type = "file" })
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">Slider ' ı seçiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button class="btn-primary btn">Ekle</button>
                                    <a href="/Admin/Home/Index"><button class="btn-default btn">Vazgeç</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section pluginscss
{
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/form-datepicker/css/datepicker3.css" />
    <link rel='stylesheet' type='text/css' href='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.css' />
    <link rel='stylesheet' type='text/css' href='~/assets/plugins/form-datepicker/css/datepicker.css' />
}

@section jsplugins
{
    <script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.min.js'></script>
    <script type="text/javascript" src="~/assets/plugins/form-datepicker/js/locales/bootstrap-datepicker.tr.js"></script>
}
@section scripts
{
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd.mm.yyyy'
        });

    </script>
}
