﻿@model List<Slider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <link rel='stylesheet' type='text/css' href='~/assets/plugins/datatables/dataTables.css' />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/codeprettifier/prettify.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/form-toggle/toggles.css" />


<div id="page-heading">
    <ol class="breadcrumb">
        <li class="atv">Admin</li>
        <li class="atn">Slider</li>
        <li class="active">Slider Listesi</li>
    </ol>

    <h1>Slider Listesi</h1>
    <div class="options">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-sky">
                <div class="panel-heading">
                    <h4>Slider Listesi</h4>
                    <div class="options">
                        <a href="javascript:;"><i class="fa fa-cog"></i></a>
                        <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                        <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="panel-body collapse in">
                    <table cellpadding="0" cellspacing="0" border="1" class="table table-striped table-bordered datatables">
                        <thead>
                            <tr>
                                <th class="col-md-1">#ID</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Resim</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                       <tbody>


                           @foreach (var item in Model)
                           {
                               <tr>
                                   <td>@item.SliderID</td>
                                   <td>@item.BaslangicTarihi</td>
                                   <td>@item.BitisTarihi</td>
                                   <td><img src="@item.ResimYolu" style="max-width:400px;max-height:100px;" /></td>
                                   <td>@Html.ActionLink("Düzenle", "Duzenle", "Slider", new { id = item.SliderID }, null) | @Html.ActionLink("Sil", "Sil", "Slider", new { id = item.SliderID }, null) </td>
                               </tr>
                           }
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div> <!-- container -->



<script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>
<script type="text/javascript" src="~/assets/js/jqueryui-1.10.3.min.js"></script>
<script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/assets/js/enquire.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/codeprettifier/prettify.js"></script>
<script type="text/javascript" src="~/assets/plugins/easypiechart/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/sparklines/jquery.sparklines.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/form-toggle/toggle.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="~/assets/js/placeholdr.js"></script>
<script type="text/javascript" src="~/assets/js/application.js"></script>
<script type="text/javascript" src="~/assets/demo/demo.js"></script>

