﻿@{
    ViewBag.Title = "RSLNR-ONLINE AVM";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-slideshow">
                <div class="flexslider">
                    <ul class="slides">
                        <li> <img src="~/Content/images/slide/slide1.jpg" /></li>
                        <li> <img src="~/Content/images/slide/slide2.jpg" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="widget-main">
                <div class="widget-inner">
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="widget-main">
                <div class="widget-inner">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="widget-main">
                <div class="widget-inner">
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="widget-main">
                <div class="widget-inner">
                </div>
            </div>
        </div>

    </div>
</div>