﻿@model Odev.Areas.Admin.Models.AdminUrun

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div id="page-heading">
    <ol class="breadcrumb">
        <li class="atv">Admin</li>
        <li class="atn">Ürün</li>
        <li class="active">Ürün Ekle</li>
    </ol>
    <h1>Yeni Ürün Ekleme</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group hidden-xs">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Ürün Ekle</h4>
                    </div>
                    @using (Html.BeginForm("UruneEkle", "Urun", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <br />
                        <div class="form-group">
                            @Html.Label("Kategori Adı", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.DropDownListFor(model => model.Kategori.KategoriID, Odev.Areas.Admin.Models.AdminUrun.DropdownHelper.KategorilerCek(), new { @class = "btn btn-default dropdown-toggle" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Marka", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.DropDownListFor(model => model.Markalar.MarkaID, Odev.Areas.Admin.Models.AdminUrun.DropdownHelper.MarkalariCek(), new { @class = "btn btn-default dropdown-toggle" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Model", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.UrunModel, new { @class = "form-control"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Özellikler", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextAreaFor(m => m.UrunOzellikler, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Fiyat", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.UrunFiyat, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.Label("Ürün Resmi", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Resim, new { @class = "form-control", type = "file" })
                            </div>
                            
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="btn-toolbar">
                                        <button class="btn-primary btn">Ekle</button>
                                        <a href="/Admin/Home/Index"><button class="btn-default btn">Vazgeç</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @section pluginscss
{
        <link rel="stylesheet" type="text/css" href="~/assets/plugins/form-datepicker/css/datepicker3.css" />
        <link rel='stylesheet' type='text/css' href='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.css' />
        <link rel='stylesheet' type='text/css' href='~/assets/plugins/form-datepicker/css/datepicker.css' />
    }

    @section jsplugins
{
        <script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
        <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
        <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
        <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script>
        <script type='text/javascript' src='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.min.js'></script>
        <script type="text/javascript" src="~/assets/plugins/form-datepicker/js/locales/bootstrap-datepicker.tr.js"></script>
    }
    @section scripts
{
        <script type="text/javascript">
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy'
            });

        </script>
    }
