﻿@model Odev.Urunler

@{
    ViewBag.Title = "Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunFotoYol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFotoYol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunOzellikler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunOzellikler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="accordion-toggle fc-button">
            <a href="/Admin/Urun"><button class="btn btn-danger">Vazgeç</button></a>
            @Html.ActionLink("Sil", "SilOnay", new { id = Model.UrunID }, new { @class = "btn btn-danger" })
        </div>
    }
</div>
