﻿@{
    ViewBag.Title = "E-Mail Adresini onaylayın.";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        E-mail adresinizi onayladığınız için Teşekkürler. Lütfen @Html.ActionLink("Giriş için buraya tıklayın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
