﻿@model Odev.Models.IndexViewModel
@{
    ViewBag.Title = "Yönet";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Hesap Ayarlarınızı Giriniz.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Şifre :</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Şifrenizi değiştiriniz", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Yeni Şifre oluştur", "SetPassword")
            }
            ]
        </dd>
        
       
    </dl>
</div>
