﻿
@{
    ViewBag.Title = "Bilgisayarlar";
}

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="..">Ana Sayfa</a></h6>
                <h6><span class="page-active">Bilgisayarlar</span></h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">NOTEBOOK BİLGİSAYARLAR</h4>
                </div>
                <div class="widget-inner">
                    <a href="~/Bilgisayar/Notebooklar"><img src="~/Content/images/NotebookShowroom.jpg" /></a>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">OYUN BİLGİSAYARLARI</h4>
                </div>
                <div class="widget-inner">
                    <a href="~/Bilgisayar/OyunBilgisayarlari"><img src="~/Content/images/OyunBilgisayarıShowroom.jpg" /></a>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">2 Sİ 1 ARADA BİLGİSAYARLAR</h4>
                </div>
                <div class="widget-inner">
                    <a href="~/Bilgisayar/Ikisi1AradaBilgisayarlar"><img src="~/Content/images/2si1AradaShowroom.jpg" /></a>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">ALL IN ONE BİLGİSAYARLAR</h4>
                </div>
                <div class="widget-inner">
                    <a href="~/Bilgisayar/AllInOneBilgisayarlar"><img src="~/Content/images/AllinOneShowroom.jpg" /></a>
                </div>
            </div>
        </div>

    </div>
</div>

