﻿@model List<Urunler>
@{
    ViewBag.Title = "Notebooklar";
}

<link rel='stylesheet' type='text/css' href='~/assets/plugins/datatables/dataTables.css' />
<link rel="stylesheet" type="text/css" href="~/assets/plugins/codeprettifier/prettify.css" />
<link rel="stylesheet" type="text/css" href="~/assets/plugins/form-toggle/toggles.css" />

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="..">Ana Sayfa</a></h6>
                <h6><a href="/Bilgisayar">Bilgisayarlar</a></h6>
                <h6><span class="page-active">Notebooklar</span></h6>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4>Notebook Listesi</h4>
                    <div class="options">
                    </div>
                </div>
                <div class="panel-body collapse in">
                    <table cellpadding="0" cellspacing="0" border="1" class="table table-striped table-bordered datatables" id="demo-type-table">
                        <thead>
                            <tr>
                                <th class="col-md-4"><b>ÜRÜN FOTOĞRAFI</b></th>
                                <th class="col-md-2"><b>ÜRÜN MARKASI</b></th>
                                <th class="col-md-2"><b>ÜRÜN MODELİ</b></th>
                                <th class="col-md-3"><b>ÜRÜN ÖZELLİKLERİ</b></th>
                                <th class="col-md-4"><b>ÜRÜNÜN FİYATI</b></th>
                                <th class="col-md-5"><b>İŞLEM SEÇENEKLERİ</b></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img class="col-md-12" src="@item.UrunFotoYol" /></td>
                                    <td>@item.Markalar.MarkaAd</td>
                                    <td>@item.UrunModel</td>
                                    <td>@item.UrunOzellikler</td>
                                    <td>@item.UrunFiyat ₺</td>
                                    <td>
                                        @{
                                            if (User.Identity.IsAuthenticated == true)
                                            { @Html.ActionLink("Sepete Ekle", "SepeteEkle", "Sepet", new { id = item.UrunID }, null)}
                                            else
                                            {
                                                <br /><br />
                                                <a href="/Account/Register" class="btn btn-block btn-danger">Kayıt Ol</a>
                                                <br />
                                                <a href="/Account/Login" class="btn btn-block btn-danger">Giriş Yap</a>
                                                <br />
                                            }

                                        }
                                    </td>
                                </tr>
                             }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@Styles.Render("~/Content/css")

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/Script/jquery")
<link rel='stylesheet' type='text/css' href='~/assets/plugins/form-daterangepicker/daterangepicker-bs3.css' />
<link rel='stylesheet' type='text/css' href='~/assets/plugins/form-markdown/css/bootstrap-markdown.min.css' />
<link rel='stylesheet' type='text/css' href='~/assets/plugins/codeprettifier/prettify.css' />
<link rel='stylesheet' type='text/css' href='~/assets/plugins/form-toggle/toggles.css' />
<link rel="stylesheet" type="text/css" href="~/assets/plugins/form-datepicker/css/datepicker3.css" />
<link rel='stylesheet' type='text/css' href='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.css' />
<link rel='stylesheet' type='text/css' href='~/assets/plugins/form-datepicker/css/datepicker.css' />

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type='text/javascript' src='~/assets/plugins/datatables/jquery.dataTables.min.js'></script>
<script type='text/javascript' src='~/assets/plugins/datatables/dataTables.bootstrap.js'></script>
<script type='text/javascript' src='~/assets/demo/demo-datatables.js'></script>
