﻿
@{
    ViewBag.Title = "Bilgisayarlar";
}

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="Index">Ana Sayfa</a></h6>
                <h6><span class="page-active">SES & MÜZİK</span></h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">SES SİSTEMLERİ</h4>
                </div>
                <div class="widget-inner">
                    <a href="~/SesMuzik/SesSistemleri"><img src="~/Content/images/NotebookShowroom.jpg" /></a>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">DİĞER SES AYGITLARI</h4>
                </div>
                <div class="widget-inner">
                    <a href="~/SesMuzik/DigerSesAygitlari"><img src="~/Content/images/OyunBilgisayarıShowroom.jpg" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

