﻿@model IEnumerable<Urunler>
@{
    Layout = null;
}

<div class="flexslider">
    <ul class="slides">
        @foreach (var item in Model)
        {
            string text = "Index";
            if (item.KategoriID == 1) { text = "/Bilgisayar/Notebooklar"; }
            if (item.KategoriID == 2) { text = "/Bilgisayar/OyunBilgisayarlari"; }
            if (item.KategoriID == 3) { text = "/Bilgisayar/Ikisi1AradaBilgisayarlar"; }
            if (item.KategoriID == 4) { text = "/Bilgisayar/AllInOneBilgisayarlar"; }
            

            <li>
                <a href="@text"><img src="@item.UrunFotoYol" /></a>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h4 style="text-align:left; font-weight:bold;"><a href="@text">@item.Markalar.MarkaAd @item.UrunModel</a></h4>
                    </div>
                </div>
            </li>

        }
    </ul>
</div>
