﻿@model IEnumerable<Urunler>
@{
    Layout = null;
}

<div class="flexslider">
    <ul class="slides">
        @foreach (var item in Model)
        {
            string text = "Index";
            if (item.KategoriID == 6) { text = "/SesMuzik/SesSistemleri"; }
            if (item.KategoriID == 7) { text = "/SesMuzik/DigerSesAygitlari"; }

            <li>
                <a href="@text"><img src="@item.UrunFotoYol" /></a>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h4 style="text-align:left; font-weight:bold;"><a href="@text">@item.Markalar.MarkaAd @item.UrunModel</a></h4>
                    </div>
                </div>
            </li>

        }
    </ul>
</div>
