﻿@model IEnumerable<Slider>
@{
    Layout = null;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-slideshow">
                <div class="flexslider">
                    <ul class="slides">
                        @foreach (var item in Model)
                        {
                            <li><img src="@item.ResimYolu" /></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>