﻿@model IEnumerable<Urunler>
@{
    Layout = null;
}

<div class="flexslider">
    <ul class="slides">
        @foreach (var item in Model)
        {
            <li>
                <a href="/Telefonlar"><img src="@item.UrunFotoYol" /></a>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h4 style="text-align:left; font-weight:bold;"><a href="/Telefonlar">@item.Markalar.MarkaAd @item.UrunModel</a></h4>
                    </div>
                </div>
            </li>

        }
    </ul>
</div>
