﻿@{
    ViewBag.Title = "RSLNR-ONLINE AVM";
}

@{Html.RenderAction("_Slider", "AnaSayfa");}


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget-main">
                        <div class="widget-main-title">
                            <h4 class="widget-title">Bilgisayarlar</h4>
                        </div>
                        <div class="widget-inner">
                            @{ Html.RenderAction("_BilgisayarSlider", "AnaSayfa");}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
    <div class="widget-main">
        <div class="widget-main-title">
            <h4 class="widget-title">Telefonlar</h4>
        </div>
        <div class="widget-inner">
           @{ Html.RenderAction("_TelefonSlider", "AnaSayfa");}
        </div>
    </div>
</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">Ses & Müzik</h4>
                </div>
                <div class="widget-inner">
                    
                        @{ Html.RenderAction("_SesMuzikSlider", "AnaSayfa");}
                   
                </div>
            </div>
        </div>
    </div>
</div>