﻿<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <title>RSLNR - ONLINE AVM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RSLNR">
    <meta name="author" content="RSLNR">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Script/jquery")

</head>
<body>
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars"></i>
        </a>
        <div class="responsive_menu">
            <ul class="main_menu">
                <li>@Html.ActionLink("Ana Sayfa", "Index", "AnaSayfa")</li>
                <li>
                    @Html.ActionLink("Bilgisayarlar", "Index", "Bilgisayar")
                <ul>
                    <li>@Html.ActionLink("Notebook Bilgisayarlar", "Notebooklar", "Bilgisayar")</li>
                    <li>@Html.ActionLink("Oyun Bilgisayarları", "OyunBilgisayarlari", "Bilgisayar")</li>
                    <li>@Html.ActionLink("2'Si 1 Arada Bilgisayarlar", "Ikisi1AradaBilgisayarlar", "Bilgisayar")</li>
                    <li>@Html.ActionLink("All in One Bilgisayarlar", "AllInOneBilgisayarlar", "Bilgisayar")</li>
                </ul>
            </li>
                <li>@Html.ActionLink("Telefonlar", "Index", "Telefonlar")</li>
            <li>
                @Html.ActionLink("Ses ve Müzik", "Index", "SesMuzik")
            <ul>
                <li>
                    @Html.ActionLink("Ses Sistemleri", "SesSistemleri", "SesMuzik")</li>
                <li>
                    @Html.ActionLink("Diğer Ses Aygıtları", "DigerSesAygitlari", "SesMuzik")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Oyun Konsolları", "Index", "OyunKonsollari")</li>
        <li>@Html.ActionLink("Bilgisayar Aksesuarları", "Index", "BilgisayarAksesuarlari")</li>
        <li>@Html.ActionLink("Telefon Aksesuarları", "Index", "TelefonAksesuarlari")</li>
    </ul>

</div>
</div>
<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 header-left">
            </div>
            <div class="col-md-4">
                <div class="logo">
                    <a href="Index" title="RSLNR" rel="AnaSayfa">
                        <h3 style="color:#e9e9e9;">RSLNR</h3>
                        <h3 style="color:#c6badd; margin-top:0px;">ONLINE AVM</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4 header-right">
                <ul class="small-links">
                    @Html.Partial("_LoginPartial")
                </ul>
                <div class="search-form">
                    <form name="search_form" method="get" action="#" class="search_form">
                        <input type="text" name="s" placeholder="Sitede arama..." title="Sitede arama..." class="field_search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar-main" role="navigation">
        <div class="container">
            <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
                <ul class="main-menu sf-menu">
                    <li>@Html.ActionLink("Ana Sayfa", "Index", "AnaSayfa")</li>
                    <li>
                        @Html.ActionLink("Bilgisayarlar", "Index", "Bilgisayar")
                        <ul>
                            <li>@Html.ActionLink("Notebook Bilgisayarlar", "Notebooklar", "Bilgisayar")</li>
                            <li>@Html.ActionLink("Oyun Bilgisayarları", "OyunBilgisayarlari", "Bilgisayar")</li>
                            <li>@Html.ActionLink("2'Si 1 Arada Bilgisayarlar", "Ikisi1AradaBilgisayarlar", "Bilgisayar")</li>
                            <li>@Html.ActionLink("All in One Bilgisayarlar", "AllInOneBilgisayarlar", "Bilgisayar")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Telefonlar","Index","Telefonlar")</li>
                    <li>
                        @Html.ActionLink("Ses ve Müzik", "Index", "SesMuzik")
                        <ul>
                            <li>
                                @Html.ActionLink("Ses Sistemleri", "SesSistemleri", "SesMuzik")
                            </li>
                            <li>
                                @Html.ActionLink("Diğer Ses Aygıtları", "DigerSesAygitlari", "SesMuzik")
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Oyun Konsolları", "Index", "OyunKonsollari")</li>
                    <li>@Html.ActionLink("Bilgisayar Aksesuarları", "Index", "BilgisayarAksesuarlari")</li>
                    <li>@Html.ActionLink("Telefon Aksesuarları", "Index", "TelefonAksesuarlari")</li>
                </ul>

            </nav>
        </div>
    </div>
</header>
<div class="container">
    @RenderBody()
</div>
<footer class="site-footer">
    <div class="container">
        <div class="bottom-footer">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <ul class="footer-nav">
                        <li>@Html.ActionLink("Ana Sayfa", "Index", "AnaSayfa")</li>
                    </ul>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

    @RenderSection("Scripts",false)

</body>
</html>
