﻿@model IEnumerable<Odev.Sepet>

@{
    ViewBag.Title = "";
}

<table class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayName("Ürün Fotoğrafı")
        </th>
        <th>
            @Html.DisplayName("Ürün ID")
        </th>
        <th>
            @Html.DisplayName("Kategori")
        </th>
        <th>
            @Html.DisplayName("Marka")
        </th>
        <th>
            @Html.DisplayName("Model")
        </th>
        <th>
            @Html.DisplayName("Özellikler")
        </th>
        <th>
            @Html.DisplayName("Fiyat")
        </th>
        <th>
            @Html.DisplayName("İşlem")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-4">
            <img src=@item.Urunler.UrunFotoYol class="col-md-4">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urunler.Kategori.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urunler.Markalar.MarkaAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urunler.UrunModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urunler.UrunOzellikler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urunler.UrunFiyat)
        </td>
        <td>
            @Html.ActionLink("Sepetten Çıkar", "SepettenCikar", new { id=item.SepetID }) |
            
        </td>
    </tr>
}

</table>
