﻿@model Odev.Sepet

@{
    ViewBag.Title = "Sepetten Çıkar";
}

<div>
    <h4>Sepetten Çıkarmak istediğinize emin misiniz?</h4>
    <hr />

    <br />
    <img src=@Model.Urunler.UrunFotoYol class="container carousel-inner col-md-5" /> 
    <dl class="dl-horizontal">
        <dt>
            @Html.Display("Ürün ID : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunID)
        </dd>

        <dt>
            @Html.Display("Kategori : ")
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Urunler.Kategori.KategoriAdi)
        </dd>
        
        <dt>
            @Html.Display("Marka : ")
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Urunler.Markalar.MarkaAd)
        </dd>

        <dt>
            @Html.Display("Model : ")
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Urunler.UrunModel)
        </dd>
        <dt>
            @Html.Display("Fiyat : ")
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Urunler.UrunFiyat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Vazgeç", "Index", null ,new { @class = "btn btn-danger" })
            @Html.ActionLink("Sil", "SepettenCikarOnay",new { id= Model.SepetID }, new { @class = "btn btn-danger" })
        </div>
    }
</div>
