﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RSLNR - [Admin]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Online AVM" content="RSLNR">
    <meta name="author" content="The Red Team">

    <!-- <link href="~/assets/less/styles.less" rel="stylesheet/less" media="all">  -->
    <link rel="stylesheet" href="~/assets/css/styles.css?=121">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>


    <link href='~/assets/demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='styleswitcher'>

    <link href='~/assets/demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='headerswitcher'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="~/assets/css/ie8.css">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/charts-flot/excanvas.min.js"></script>
    <![endif]-->
    <!-- The following CSS are included as plugins and can be removed if unused-->

    <link rel='stylesheet' type='text/css' href='~/assets/plugins/form-daterangepicker/daterangepicker-bs3.css' />
    <link rel='stylesheet' type='text/css' href='~/assets/plugins/form-markdown/css/bootstrap-markdown.min.css' />
    <link rel='stylesheet' type='text/css' href='~/assets/plugins/codeprettifier/prettify.css' />
    <link rel='stylesheet' type='text/css' href='~/assets/plugins/form-toggle/toggles.css' />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/form-datepicker/css/datepicker3.css" />
    <link rel='stylesheet' type='text/css' href='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.css' />
    <link rel='stylesheet' type='text/css' href='~/assets/plugins/form-datepicker/css/datepicker.css' />


    <script type='text/javascript' src='~/assets/js/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='~/assets/js/jqueryui-1.10.3.min.js'></script>
    <script type='text/javascript' src='~/assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/assets/js/enquire.js'></script>
    <script type='text/javascript' src='~/assets/js/jquery.cookie.js'></script>
    <script type='text/javascript' src='~/assets/js/jquery.nicescroll.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/fullcalendar/fullcalendar.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-daterangepicker/daterangepicker.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-daterangepicker/moment.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.resize.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.orderBars.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/pulsate/jQuery.pulsate.min.js'></script>

    <script type='text/javascript' src='~/assets/plugins/form-datepicker/js/bootstrap-datepicker.js'></script>
    <script type='text/javascript' src='~/assets/demo/demo-index.js'></script>
    <script type='text/javascript' src='~/assets/js/placeholdr.js'></script>
    <script type='text/javascript' src='~/assets/js/application.js'></script>
    <script type='text/javascript' src='~/assets/demo/demo.js'></script>
    <script type='text/javascript' src='~/assets/plugins/datatables/jquery.dataTables.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/datatables/dataTables.bootstrap.js'></script>
    <script type='text/javascript' src='~/assets/demo/demo-datatables.js'></script>
    <script type='text/javascript' src='~/assets/js/placeholdr.js'></script>
    <script type='text/javascript' src='~/assets/js/application.js'></script>
    <script type='text/javascript' src='~/assets/demo/demo.js'></script>

    <script type="text/javascript" src="~/assets/js/less.js"></script>


</head>

<body class="">



    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">

        <ul class="nav navbar-nav pull-right toolbar">
            <li>
                @using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-toggle username"><i class="fa fa-sign-out"></i><span class="hidden-xs" style="color:#808080"> Çıkış Yap</span></a>
                }
            </li>

            <li>
                <a href="/Manage" class="dropdown-toggle username"><span class="hidden-xs">@User.Identity.Name</span></a>
            </li>


        </ul>
    </header>

    <div id="page-container">
        <nav id="page-leftbar" role="navigation">
            <ul class="acc-menu" id="sidebar">

                <li><a href="/Admin/Home/Index"><i class="fa fa-home"></i><span>Ana Sayfa</span></a></li>

                <li><a style="text-align:center"><span>SLİDER YÖNETİMİ</span></a></li>


                <li><a href="/Admin/Slider"><i class="fa fa-list"></i><span>Slider Listesi</span></a>
                <li>
                    <a href="/Admin/Slider/Ekle"><i class="fa fa-plus"></i><span>Slider Ekle</span></a>

                    <br />
                <li><a style="text-align:center"><span>ÜRÜN YÖNETİMİ</span></a></li>
                <li><a href="/Admin/Urun"><i class="fa fa-list"></i><span>Ürün Listesi</span></a>
                <li>
                    <a href="/Admin/Urun/Ekle"><i class="fa fa-plus"></i><span>Ürün Ekle</span></a>
                    <br />
                <li><a style="text-align:center"><span>Rol YÖNETİMİ</span></a></li>


                <li><a href="/Admin/RolYonetim/Index"><i class="fa fa-list"></i><span>Rol Listesi</span></a>
                <li>
                    <a href="/Admin/RolYonetim/RolEkle"><i class="fa fa-plus"></i><span>Rol Ekle</span></a>

                <li>
                    <a href="/Admin/RolYonetim/RolKullaniciEkle"><i class="fa fa-plus"></i><span>Role Kullanıcı Ekle</span></a>
                    <br />

                <li><a href="/"><i class="fa fa-sign-out"></i><span>Siteye Git</span></a>

            </ul>
        </nav>
        <div id="page-content">
            <div id='wrap'>
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--Model Box Başla-->
        <div id="GlobalModalBox" class="modal fade">
            <div class="modal-dialog" style="width: auto !important">
                <div class="modal-content col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="modal-header">
                        <button type="button" class="close GlobalModalBoxClose" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="GlobalModalBoxTitle">Başlık</h4>
                    </div>
                    <div class="modal-body">
                        <p id="GlobalModalBoxBody">One fine body…</p>
                    </div>
                    <div class="modal-footer" id="GlobalModalBoxFooterYesNo">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="GlobalModalBoxYes">Evet</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="GlobalModalBoxNo">Hayır</button>
                    </div>
                    @*<div class="modal-footer" id="GlobalModalBoxFooterClose">
                            <button type="button" class="btn btn-default GlobalModalBoxClose" data-dismiss="modal">Kapat</button>
                        </div>*@
                </div>
            </div>
        </div>

        <footer role="contentinfo">
            <div class="clearfix">
                <ul class="list-unstyled list-inline">
                    <li>RSLNR &copy; @DateTime.Now.Year</li>
                    <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
                </ul>
            </div>
        </footer>

    </div><!-- page-container -->
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script>!window.jQuery && document.write(unescape('%3Cscript src="~/assets/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
    <script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="~/assets/js/jqueryui-1.10.3.min.js'))</script>
    -->
    @RenderSection("pluginscss", false)

    <script type='text/javascript' src='~/Scripts/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='~/assets/js/jqueryui-1.10.3.min.js'></script>
    <script type='text/javascript' src='~/assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/assets/js/enquire.js'></script>
    <script type='text/javascript' src='~/assets/js/jquery.cookie.js'></script>
    <script type='text/javascript' src='~/assets/js/jquery.nicescroll.min.js'></script>
    @RenderSection("jsplugins", false)
    <script type='text/javascript' src='~/assets/js/placeholdr.js'></script>
    <script type='text/javascript' src='~/assets/js/application.js'></script>

    <script type='text/javascript' src='~/assets/plugins/datatables/jquery.dataTables.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/datatables/dataTables.bootstrap.js'></script>
    <script type='text/javascript' src='~/assets/demo/demo-datatables.js'></script>
    <script type="text/javascript" src="~/assets/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.min.js"></script>

    @RenderSection("scripts", false)

</body>
</html>
