﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br /><br />
<div class="container">
    <ul>
        <p class="text-danger">@Html.DisplayName("Rol Listesi")</p>
        @foreach (var item in Model)
        {
            <li><p class="text-primary">@item.Name - @item.Users.Count</p></li>
        }
    </ul>
</div>