﻿@model Odev.Areas.Admin.Models.RolEkleModel
@{
    ViewBag.Title = "RolEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br /><br /><br />
<div class="container">
    <p class="dd-header">Rol Adı Giriniz</p>
    @using (Html.BeginForm("RolEkle", "RolYonetim", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.RolAd)
        <input type="submit" />
    }

</div>
