﻿@model Odev.Areas.Admin.Models.RolKullaniciEkleModel
@{
    ViewBag.Title = "RolKullaniciEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br /><br /><br />

@using (Html.BeginForm("RolKullaniciEkle", "RolYonetim", FormMethod.Post))
{
    <div class="col-md-2">@Html.Label("Kullanıcı Adı")</div>  @Html.TextBoxFor(m => m.KullaniciAdi)
    <br />
    <br />
    <div class="col-md-2">@Html.Label("Rol Adı")</div>  @Html.TextBoxFor(m => m.RolAdi)
    <br />
    <br />
    <div class="col-xs-2"></div><input type="submit" class="btn btn-success" />
}